.grid-12-font {
  --ag-font-size: 12px;
}

.ag-header-mobile {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ag-cell-mobile {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mobile-card {
  padding: 10px 6px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 13px;
}

.row-top {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.row-middle {
  color: #aaa;
  word-break: break-word;
}

.row-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #777;
}

.status-sent { color: #04b34f; }
.status-failed { color: #BB2124; }
.status-pending { color: #FFC107; }
.status-processing { color: #17a2b8; }

/* .ag-header-cell-label{
  justify-content: flex-end;
} */