.grid-12-font {
  --ag-font-size: 12px;
}

.ag-header-mobile {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ag-cell-mobile {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mobile-card {
  padding: 10px 6px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 13px;
}

.row-top {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.row-middle {
  color: #aaa;
  word-break: break-word;
}

.row-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #777;
}

.status-sent { color: #04b34f; }
.status-failed { color: #BB2124; }
.status-pending { color: #FFC107; }
.status-processing { color: #17a2b8; }

.custom-tooltip {
  position: absolute;
  z-index: 100;
  pointer-events: none;
  transition: opacity 0.2s;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 4px;
  max-width: 300px;
  word-wrap: break-word;
}
.custom-tooltip div {
  margin: 3px 0;
  line-height: 1.4;
}
.custom-tooltip strong {
  color: #666;
  margin-right: 5px;
}

.ag-theme-alpine .ag-center-cols-container {
  will-change: transform;
}
.ag-theme-alpine .ag-row {
  position: absolute;
  width: 100% !important;
}